.editor-container {
  background: transparent !important;
}

.monaco-workbench .part.editor>.content>.one-editor-silo>.container>.title .tabs-container>.tab,
.monaco-workbench .part>.content,
.monaco-workbench .editor>.content>.one-editor-silo.editor-one,
.monaco-workbench .part.editor>.content>.one-editor-silo>.container>.title,
.monaco-workbench .part>.title,
.monaco-workbench,
body {
  background: transparent !important;
}

.monaco-list .monaco-list-rows {
  background: transparent !important;
}


/* 透明度区域 */
.activitybar {
  background-color: #e0e0e320 !important;
}

.monaco-workbench .part.sidebar {
  background-color: #e0e0e320 !important;
}

.monaco-workbench.fullscreen {
  background-color: #e0e0e320 !important;
}


/* 通知窗口 */
.notification-toast,
.notifications-list-container,
.notifications-list-container .monaco-list-row {
  border-radius: 8px !important;
}

.monaco-button {
  border-radius: 4px !important;
}

.notifications-list-container .monaco-list-row {
  padding: 1px;
}


/* 命令面板 */
.quick-input-widget {
  background-color: rgba(246, 246, 246, 0.95) !important;
  padding: 4px 6px !important;
  border-radius: 10px !important;
  top: 50% !important;
  transform: translate(0%, -50%) !important;
}